* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(90deg, #f88454, #1f125b);
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.titulo {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #fff;
}

.titulo span {
  font-size: 1rem;
  color: #ffcc00;
  display: block;
  margin-top: 5px;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 24px;
  padding: 0 0 20px 0; /* apenas padding inferior */
  align-items: center;
  scroll-behavior: smooth;
  margin: 0;
}


.item {
  flex: 0 0 240px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nome {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #fff;
  text-align: center;
}

.card {
  width: 100%;
  aspect-ratio: 3 / 4;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid #ffffff22;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.data {
  font-size: 1.5rem;
  color: #ffcc00;
  font-weight: bold;
  margin-top: 8px;
  text-align: center;
}

@media (max-width: 768px) {
  .item {
    flex: 0 0 80vw; /* ocupa 80% da largura da tela */
    max-width: none;
  }
}